body {
    background-color: Black;
}  

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.center {
    color: white;
    width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: flex;
    flex-direction: column;
    color: white;
}

label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    width: 100%;
    background-color: midnightblue;
}

input[type="submit"] {
    background-color: #4CAF50;
    margin-top: 5px;
    color: white;
    padding-left: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

button {
    background-color: #ccc;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 5px;
  }
  
  button:hover {
    background-color: #999;
  }

h3 {
    color: white;
}