.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.center {
    width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: flex;
    flex-direction: column;

}

label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 100%;
}

input[type="submit"] {
    background-color: #4CAF50;
    margin-top: 10px;
    color: white;
    padding-left: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.sign-up {
    align-self: self-start;
    margin-top: 20px;
}

.find-pw {
    align-self: self-start;
    margin-top: 20px;
}