body {background-color: Black;}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slot {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 200px;
    height: 250px;
    border: 2px solid purple;
    border-radius: 10px;
    font-size: 100px;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#container #current {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    cursor: pointer;
}