body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

button {
    position: relative;
    top: 300px;
    left: 10px;
    padding: 15px 50px;
    color: coral;
    background-color: darkturquoise;
    border: none;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 1px 3px grey;
    outline: none;
    transition: .3s;
}

button:hover,
button:active {
    outline: none;
    background-color: grey;
    cursor: pointer;
    transform: translateY(15px);
}

.game {
    position: relative;
    align-items: center;
    width: 500px;
    height: 100%;
    margin-right: 700px;
    margin-top: 400px;
}

.container {
    position: relative;
    display: inline-block;
    top: 200px;
}

.dice {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.dot {
    position: absolute;
    width: 40px;
    height: 40px;
    margin: -20px 10px 10px -20px;
    border-radius: 40px;
    background-color: white;
    box-shadow: inset -4px -4px grey;
}

.dice-one {
    position: absolute;
    left: -100px;
}

.dice-two {
    position: absolute;
    left: 300px;
}

#dice1>.side {
    position: absolute;
    background-color: red;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    border: 2px solid #cacaca;
    text-align: center;
    line-height: 2em;
}

#dice2>.side {
    position: absolute;
    background-color: blue;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    border: 2px solid #cacaca;
    text-align: center;
    line-height: 2em;
}

.side:nth-child(1) {
    transform: translateZ(6.2em);
}

.side:nth-child(6) {
    transform: rotateY(90deg) translateZ(6.2em);
}

.side:nth-child(3) {
    transform: rotateY(-90deg) translateZ(6.2em);
}

.side:nth-child(4) {
    transform: rotateX(90deg) translateZ(6.2em);
}

.side:nth-child(5) {
    transform: rotateX(-90deg) translateZ(6.2em);
}

.side:nth-child(2) {
    transform: rotateY(-180deg) translateZ(6.2em);
}

.show-1 {
    transform: rotateX(720deg) rotateZ(-720deg);
}

.show-6 {
    transform: rotateY(-450deg) rotateZ(-1440deg);
}

.show-2 {
    transform: rotateX(-900deg) rotateZ(1080deg);
}

.show-4 {
    transform: rotateX(-810deg) rotateZ(-1080deg);
}

.show-3 {
    transform: rotateY(810deg) rotateZ(720deg);
}

.show-5 {
    transform: rotateX(450deg) rotateZ(-720deg);
}

.two-1,
.three-1,
.four-1,
.five-1,
.six-1 {
    top: 20%;
    left: 20%;
}

.four-3,
.five-3,
.six-4 {
    top: 20%;
    left: 80%;
}

.one-1,
.three-2,
.five-5 {
    top: 50%;
    left: 50%;
}

.four-2,
.five-2,
.six-3 {
    top: 80%;
    left: 20%;
}

.two-2,
.three-3,
.four-4,
.five-4,
.six-6 {
    top: 80%;
    left: 80%;
}

.six-2 {
    top: 50%;
    left: 20%;
}

.six-5 {
    top: 50%;
    left: 80%;
}

#betting-corner>* {
    font-size: 20pt;
}

.rc-toolbar>label {
    position: relative;
    color: #01cc65;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    padding: 10px;
}

.rc-toolbar input[type="checkbox"] {
    display: none;
}

.rc-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    width: 6rem;
    text-align: center;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
}

.rc-toolbar label:hover {
    background-color: #E5E5E5;
    border-color: white;
}

.rc-toolbar input[type="checkbox"]:checked+label {
    background-color: #363232;
    color: white;
}